@{
    Layout = "~/Views/shared/_stateLayout.cshtml";
}
@Scripts.Render("~/controllerManageCity")
<div ng-controller="controllerManageCity">

    <table  cellspacing="0" border="0" class="gridTable" cellpadding="5px">
        <tr>
            <td colspan="2">
                <table class="gridTable" cellpadding="5px" data-ng-table="manageCityTableParams">
                    <tbody class="gridHeader">
                        <tr>
                            <th>
                                Actions
                            </th>
                            <th>
                                City Name
                            </th>
                            <th>
                                Short Name
                            </th>
                            <th>
                                Is Default
                            </th>
                        </tr>
                    </tbody>
                    <tr ng-repeat="user in manageCity">
                        <td>
                            <a href="~/MasterCity/ViewCityInfo?cityId={{user.CityId}}" title="Attraction List">
                                Attractions
                            </a>
                            <a href="~/MasterCity/UpdateCity?CityId={{user.CityId}}" title="Update City">
                                Edit
                            </a>
                        </td>
                        <td title="'City Name'">
                            {{user.CityName}}
                        </td>
                        <td title="'City Short Name'">
                            {{user.CityShortName}}
                        </td>
                        <td title="'Is Default'">
                            {{user.IsDefault}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>


</div>
