@{
    Layout = "~/Views/shared/_countryLayout.cshtml";
}
@Scripts.Render("~/controllerManageStates")


<div ng-controller="controllerManageState">

    <table cellpadding="0" class="gridTable" cellspacing="0" border="0">
        
        <tr>
            <td colspan="2">
                <table class="gridTable" cellpadding="5px">
                    <tbody class="gridHeader">
                        <tr>
                            <th>
                                Actions
                            </th>
                            <th>
                                State Name
                            </th>
                            <th>
                                Shoare Name
                            </th>
                            <th>
                                Is Default
                            </th>
                            <th>
                                City Count
                            </th>
                        </tr>
                    </tbody>
                    <tr ng-repeat="user in manageStates">
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        <a href="~/MasterState/ViewStateInfo?StateId={{user.StateId}}" title="City List">
                                            View City Info
                                        </a>
                                    </td>
                                    <td>
                                        <a href="~/MasterState/UpdateState?stateId={{user.StateId}}" title="Update State">
                                            Edit
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td title="'State Name'">
                            {{user.StateName}}
                        </td>
                        <td title="'State Short Name'">
                            {{user.StateShortName}}
                        </td>
                        <td title="'Is Default'">
                            {{user.IsDefault}}
                        </td>
                        <td title="City Count">
                            {{user.CityCount}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    
</div>
