@{
    Layout = "~/Views/shared/_mainLayout.cshtml";
}
@model PlanGoGoAdmin.Models.User.ModelLogin    
@using (Html.BeginForm())
{
    <div >
        <div class="adminPanelHeader">
            <span class="adminPanelHeaderText">Login Screen</span>
</div>
        <div class="adminPanelBody">
            <table cellpadding="0" cellspacing="0" border="0" width="100%">
                <tr>
                    <td>@Model.ErrorMessage</td>
                </tr>
                <tr>
                    <td>
                        <div class="adminField">
                            <span class="adminFieldText">User Name:</span> 
                        </div>
                        <div class="adminInputControl">
                        @Html.TextBoxFor(m => m.UserName, new {@placeholder = "Enter User Name", @id = "txtUserName"})
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="adminField">
                        <span class="adminFieldText">Password:</span> 
                        </div>
                        <div class="adminInputControl">
                            @Html.TextBoxFor(m => m.Password, new { @placeholder = "Enter Password", @id = "txtPassword" })
                        </div>
</td>
                </tr>
                <tr>
                    <td>
                        <div class="adminActionControl">
                            <input type="submit" value="Login" id="btnLogin" />
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
}

