@{
    Layout = "~/Views/shared/_authenticatedLayout.cshtml";
}
@Scripts.Render("~/controllerManageUser")
<div ng-controller="controllerManageUser" class="content">
    <table  class="gridTable" cellpadding="5px">
        <tbody class="gridHeader">
        <tr>
            <th>Actions</th>
            <th>
                User Name
            </th>
            <th>
                Password
            </th>
        </tr>
        </tbody>
        <tr ng-repeat="user in manageUsers">
            <td>
                <a href="/User/AddUpdateUser?adminUserId={{user.AdminUserId}}" title="Update User">
                    Edit
                </a>
            </td>
            <td title="'User Name'" >
                {{user.UserName}}
            </td>
            <td title="'Password'" >
                {{user.Password}}
            </td>
        </tr>
    </table>
</div>
