<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="apiKey" value="AIzaSyCgsxXRk6Sfp8u4-FltEdWKnnxjr0FPqOo" />
    <add key="recordCount" value="500" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=L4211079075; Initial Catalog=Attractions; Integrated Security=True;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
<system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGetListValues" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IAttractions" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IAttractionsActiveStatus" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IAttractionTravelTimeDistance" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_ICountry" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IMasterCategory" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IMasterCity" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IMasterState" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IMasterWeek" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IMissingDistanceAttractionsRecords" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IUserServices" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/PlanGoGoService/GetListValues.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetListValues" contract="GetListValues.IGetListValues" name="BasicHttpBinding_IGetListValues" />
      <endpoint address="http://localhost/PlanGoGoService/Admin/Attractions.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAttractions" contract="AdminAttractions.IAttractions" name="BasicHttpBinding_IAttractions" />
      <endpoint address="http://localhost/PlanGoGoService/Admin/AttractionsActiveStatus.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAttractionsActiveStatus" contract="AdminAttractionsActiveStatus.IAttractionsActiveStatus" name="BasicHttpBinding_IAttractionsActiveStatus" />
      <endpoint address="http://localhost/PlanGoGoService/Admin/AttractionTravelTimeDistance.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAttractionTravelTimeDistance" contract="AdminAttractionTravelTime.IAttractionTravelTimeDistance" name="BasicHttpBinding_IAttractionTravelTimeDistance" />
      <endpoint address="http://localhost/PlanGoGoService/Admin/Country.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICountry" contract="AdminCountry.ICountry" name="BasicHttpBinding_ICountry" />
      <endpoint address="http://localhost/PlanGoGoService/Admin/MasterCategory.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterCategory" contract="AdminMasterCategory.IMasterCategory" name="BasicHttpBinding_IMasterCategory" />
      <endpoint address="http://localhost/PlanGoGoService/Admin/MasterCity.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterCity" contract="AdminMasterCity.IMasterCity" name="BasicHttpBinding_IMasterCity" />
      <endpoint address="http://localhost/PlanGoGoService/Admin/MasterState.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterState" contract="AdminMasterState.IMasterState" name="BasicHttpBinding_IMasterState" />
      <endpoint address="http://localhost/PlanGoGoService/Admin/MasterWeek.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterWeek" contract="AdminMasterWeek.IMasterWeek" name="BasicHttpBinding_IMasterWeek" />
      <endpoint address="http://localhost/PlanGoGoService/Admin/MissingDistanceAttractionsRecords.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMissingDistanceAttractionsRecords" contract="AdminMissingDistanceAttractionsRecords.IMissingDistanceAttractionsRecords" name="BasicHttpBinding_IMissingDistanceAttractionsRecords" />
      <endpoint address="http://localhost/PlanGoGoService/Schedulers/UsersService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices" contract="UsersService.IUserServices" name="BasicHttpBinding_IUserServices" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
