<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="apiKey" value="AIzaSyB7fvWHkM9Ic1WJ-0FSgB-WD43XVrCxiig"/>
    <add key="recordCount" value="1000"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=L4211079075; Initial Catalog=Attractions; Integrated Security=True;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
<system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
</configuration>
