<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="apiKey" value="AIzaSyD_1TbvAVlmKiqDZ-xvOk7EPxA95VEZC_E"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=L4211079075\SQLEXPRESS; Initial Catalog=Attractions; Integrated Security=True;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
<system.net>
    <defaultProxy useDefaultCredentials="true">
    </defaultProxy>
  </system.net>
</configuration>
