<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
  >
  <targets async="true">
    <target name="database" xsi:type="Database">
      <connectionStringName>ConnectionString</connectionStringName>
      <commandText>
        EXEC InsertExceptionInformation
        @MethodName,
        @Parameters,
        @ExceptionMessage,
        @ExceptionStackTrace,
        @CreatedBy
      </commandText>

      <parameter name="@MethodName" layout="${mdc:item=MethodName}" />
      <parameter name="@Parameters" layout="${mdc:item=Parameters}" />
      <parameter name="@ExceptionMessage" layout="${mdc:item=ExceptionMessage}" />
      <parameter name="@ExceptionStackTrace" layout="${mdc:item=ExceptionStackTrace}" />
      <parameter name="@CreatedBy" layout="${mdc:item=CreatedBy}" />
    </target>

  </targets>
  <rules>
    <logger name="*" levels="Info" writeTo="database" />
    <logger name="*" levels="Error,Fatal" writeTo="database" />
  </rules>
</nlog>
