<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGetListValues" />
                <binding name="BasicHttpBinding_IAttractions" />
                <binding name="BasicHttpBinding_IAttractionsActiveStatus" />
                <binding name="BasicHttpBinding_IAttractionTravelTimeDistance" />
                <binding name="BasicHttpBinding_ICountry" />
                <binding name="BasicHttpBinding_IMasterCategory" />
                <binding name="BasicHttpBinding_IMasterCity" />
                <binding name="BasicHttpBinding_IMasterState" />
                <binding name="BasicHttpBinding_IMasterWeek" />
                <binding name="BasicHttpBinding_IMissingDistanceAttractionsRecords" />
                <binding name="BasicHttpBinding_IUserServices" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/PlanGoGoService/GetListValues.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetListValues"
                contract="GetListValues.IGetListValues" name="BasicHttpBinding_IGetListValues" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/Attractions.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAttractions"
                contract="AdminAttractions.IAttractions" name="BasicHttpBinding_IAttractions" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/AttractionsActiveStatus.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAttractionsActiveStatus"
                contract="AdminAttractionsActiveStatus.IAttractionsActiveStatus"
                name="BasicHttpBinding_IAttractionsActiveStatus" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/AttractionTravelTimeDistance.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAttractionTravelTimeDistance"
                contract="AdminAttractionTravelTime.IAttractionTravelTimeDistance"
                name="BasicHttpBinding_IAttractionTravelTimeDistance" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/Country.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICountry"
                contract="AdminCountry.ICountry" name="BasicHttpBinding_ICountry" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MasterCategory.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterCategory"
                contract="AdminMasterCategory.IMasterCategory" name="BasicHttpBinding_IMasterCategory" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MasterCity.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterCity"
                contract="AdminMasterCity.IMasterCity" name="BasicHttpBinding_IMasterCity" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MasterState.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterState"
                contract="AdminMasterState.IMasterState" name="BasicHttpBinding_IMasterState" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MasterWeek.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterWeek"
                contract="AdminMasterWeek.IMasterWeek" name="BasicHttpBinding_IMasterWeek" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MissingDistanceAttractionsRecords.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMissingDistanceAttractionsRecords"
                contract="AdminMissingDistanceAttractionsRecords.IMissingDistanceAttractionsRecords"
                name="BasicHttpBinding_IMissingDistanceAttractionsRecords" />
            <endpoint address="http://localhost/PlanGoGoService/Schedulers/UsersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="UsersService.IUserServices" name="BasicHttpBinding_IUserServices" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
