<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IGetListValues" allowCookies="true"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IAttractions" allowCookies="true"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IAttractionsActiveStatus" allowCookies="true"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IAttractionTravelTimeDistance"
                    allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_ICountry" allowCookies="true"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IMasterCategory" allowCookies="true"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IMasterCity" allowCookies="true"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IMasterState" allowCookies="true"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IMasterWeek" allowCookies="true"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IMissingDistanceAttractionsRecords"
                    allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IUserServices" allowCookies="true"
                    maxBufferPoolSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IAttractionsActiveStatus1" allowCookies="true"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IMasterWeek1" allowCookies="true"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IAttractionTravelTimeDistance1"
                    allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IMissingDistanceAttractionsRecords1"
                    allowCookies="true" maxBufferPoolSize="20000000" maxBufferSize="20000000"
                    maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IAttractions1" allowCookies="true"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IMasterCategory1" allowCookies="true"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IAdminUser" allowCookies="true"
                    maxBufferPoolSize="20000000" maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
                <binding name="BasicHttpBinding_IMasterCategory2" />
                <binding name="BasicHttpBinding_ICountry1" />
                <binding name="BasicHttpBinding_IMasterState1" />
                <binding name="BasicHttpBinding_IMasterCity1" />
                <binding name="BasicHttpsBinding_IUserServices">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/PlanGoGoService/Admin/Attractions.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAttractions"
                contract="AdminAttractions.IAttractions" name="BasicHttpBinding_IAttractions" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/AttractionsActiveStatus.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAttractionsActiveStatus"
                contract="AdminAttractionsActiveStatus.IAttractionsActiveStatus"
                name="BasicHttpBinding_IAttractionsActiveStatus" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/AttractionTravelTimeDistance.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAttractionTravelTimeDistance"
                contract="AdminAttractionTravelTime.IAttractionTravelTimeDistance"
                name="BasicHttpBinding_IAttractionTravelTimeDistance" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/Country.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICountry"
                contract="AdminCountry.ICountry" name="BasicHttpBinding_ICountry" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MasterCategory.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterCategory"
                contract="AdminMasterCategory.IMasterCategory" name="BasicHttpBinding_IMasterCategory" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MasterCity.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterCity"
                contract="AdminMasterCity.IMasterCity" name="BasicHttpBinding_IMasterCity" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MasterState.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterState"
                contract="AdminMasterState.IMasterState" name="BasicHttpBinding_IMasterState" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MasterWeek.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterWeek"
                contract="AdminMasterWeek.IMasterWeek" name="BasicHttpBinding_IMasterWeek" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MissingDistanceAttractionsRecords.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMissingDistanceAttractionsRecords"
                contract="AdminMissingDistanceAttractionsRecords.IMissingDistanceAttractionsRecords"
                name="BasicHttpBinding_IMissingDistanceAttractionsRecords" />
            <endpoint address="http://localhost/PlanGoGoService/GetListValues.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGetListValues"
                contract="GetListValues.IGetListValues" name="BasicHttpBinding_IGetListValues" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/AttractionsActiveStatus.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAttractionsActiveStatus1"
                contract="AttractionsActiveStatus.IAttractionsActiveStatus"
                name="BasicHttpBinding_IAttractionsActiveStatus1" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MasterWeek.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterWeek1"
                contract="MasterWeek.IMasterWeek" name="BasicHttpBinding_IMasterWeek1" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/AttractionTravelTimeDistance.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAttractionTravelTimeDistance1"
                contract="AttractionTravelTimeDistance.IAttractionTravelTimeDistance"
                name="BasicHttpBinding_IAttractionTravelTimeDistance1" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MissingDistanceAttractionsRecords.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMissingDistanceAttractionsRecords1"
                contract="MissingDistanceAttractionsRecords.IMissingDistanceAttractionsRecords"
                name="BasicHttpBinding_IMissingDistanceAttractionsRecords1" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/Attractions.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAttractions1"
                contract="Attractions.IAttractions" name="BasicHttpBinding_IAttractions1" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MasterCategory.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterCategory1"
                contract="MasterCategory.IMasterCategory" name="BasicHttpBinding_IMasterCategory1" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/Admin_User.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAdminUser"
                contract="Admin_User.IAdminUser" name="BasicHttpBinding_IAdminUser" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MasterCategory.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterCategory2"
                contract="AdminMasterCategory.IMasterCategory" name="BasicHttpBinding_IMasterCategory2" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/Country.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICountry1"
                contract="AdminCountry.ICountry" name="BasicHttpBinding_ICountry1" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MasterState.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterState1"
                contract="AdminMasterState.IMasterState" name="BasicHttpBinding_IMasterState1" />
            <endpoint address="http://localhost/PlanGoGoService/Admin/MasterCity.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMasterCity1"
                contract="AdminMasterCity.IMasterCity" name="BasicHttpBinding_IMasterCity1" />
            <endpoint address="http://localhost/PlanGoGoService/Schedulers/UsersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserServices"
                contract="UsersService.IUserServices" name="BasicHttpBinding_IUserServices" />
            <endpoint address="https://l4211079075.pharmerica.net/PlanGoGoService/Schedulers/UsersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IUserServices"
                contract="UsersService.IUserServices" name="BasicHttpsBinding_IUserServices" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
