@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_LayoutBeachResort.cshtml";
}
@Scripts.Render("~/index")
<link href="~/Content/AttractionsCategories.css" rel="stylesheet" />

<div id="main" ng-controller="controlerIndex">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td>
<div class="divIndex" id="controlerIndex">
<div id="tabs" style="width:1200px;" class="avoidBorder">
<ul>
    <li><a href="#tab_Filter">Filter</a></li>
    <li><a href="#tab_Categories" ng-click="CategoriesTabClick()">Categories</a></li>
    <li><a href="#tab_TourPlan" ng-click="TourTabClick()">Tour Plan</a></li>
    <li><a href="#tab_TourMap">Tour Map</a></li>
    <li><a href="#tab_SuggestedAttractions">Suggested Attractions</a></li>
    <li><a href="#tab_BuildStatus">Tour Build Status</a></li>
    <li><a href="#tab_TourExpenses" ng-click="BuildExpenseInfo()">Tour Expenses & Information</a></li>
</ul>
<div id="tab_Filter">
    <table border="0">
        <tr>
            <td>
                <div class="ui-widget" style="float: left; padding: 5px">
                    <input id="autoCityName" placeholder="Enter City Name"> <input type="button" value="Add More Cites" ng-click="addCitites()" />
                    <br />
                    <div id="travelBasic" style="display: none">
                        <input id="autoStartLocation" placeholder="Start Location" ng-keyup="SearchAutoComplete()" >
                        <br />
                        <input id="autoDestinationLocation" placeholder="End Location" ng-keyup="SearchAutoComplete()">
                        <br />
                        <input id="calStartDateAndTime" placeholder="Start Date And Time" ng-model="StartDate" onblur="DateUpdated()">
                        <br />
                        <input id="calDropDateAndTime" placeholder="End Date And Time">
                    </div>
                </div>
            </td>
            <td ng-show="VisitCityList.length>0">
                <table>
                    <tr>
                        <td>
                            City Name
                        </td>
                        <td>
                            Order or Visit
                        </td>
                    </tr>
                    <tr ng-repeat="cities in  VisitCityList | orderBy:'recordIndex'">
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        {{cities.cityName}}
                                    </td>
                                    <td>
                                        <img src="~/Images/Custome/red_x.png" alt="Not Intereseted" width="30px" height="30px" ng-click="CityNotIntereseted(cities.cityId)" />
                                    </td>
                                    <td>
                                        <img ng-show="!$first" src="~/Images/Custome/up.jpg" alt="Up" width="30px" height="30px" ng-click="IsCityOrderUpdated(cities.cityId, cities.recordIndex, true)" />
                                        <img ng-show="!$last" src="~/Images/Custome/down.jpg" alt="Down" width="30px" height="30px" ng-click="IsCityOrderUpdated(cities.cityId, cities.recordIndex, false)" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div id="tab_Categories">
    <table>
        <tr>
            <td style="width:300px" valign="top">
                <table>
                    <tr>
                        <td valign="top">
                            <ul class="Catnav" id="mainCategory" ng-repeat="mainCategoryList in MasterCategoryList">
                                <li ng-class="{'CatNavSelected':CssMainCategory(mainCategoryList.CategoryId)}">
                                    <a href="JavaScript:Void(0)" ng-click="ClickMainCategorySelected(mainCategoryList.CategoryId)">
                                        {{mainCategoryList.CategoryName}}
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </td>
            <td valign="top">
                <table ng-show="filterCategoryList.length">
                    <tr>
                        <td valign="top">
                            <table>
                                <tr ng-repeat="categoryList in filterCategoryList" ng-switch on="$index % 5">
                                    <td ng-switch-when="0" valign="top">
                                        <div class="cat_DisplayNewLine" ng-show="filterCategoryList[$index]">
                                            <img src="~/Images/User/Category/{{filterCategoryList[$index].TypeName}}.png" alt="{{filterCategoryList[$index].TypeName}}" width="50px" height="50px" />
                                            <input type="checkbox" checked="checked" ng-click="CategorySelected(filterCategoryList[$index])" />
                                            {{filterCategoryList[$index].TypeName}}
                                        </div>
                                    </td>
                                    <td ng-switch-when="0">
                                        <div class="cat_DisplayNewLine" ng-show="filterCategoryList[$index+1]">
                                            
                                            <img src="~/Images/User/Category/{{filterCategoryList[$index+1].TypeName}}.png" alt="{{filterCategoryList[$index+1].TypeName}}" width="50px" height="50px"/>
                                            <input type="checkbox" checked="checked" ng-click="CategorySelected(filterCategoryList[$index+1])"/>
                                            {{filterCategoryList[$index+1].TypeName}}
                                        </div>
                                    </td>
                                    <td ng-switch-when="0">
                                        <div class="cat_DisplayNewLine" ng-show="filterCategoryList[$index+2]">
                                            <img src="~/Images/User/Category/{{filterCategoryList[$index+2].TypeName}}.png" alt="{{filterCategoryList[$index+2].TypeName}}" width="50px" height="50px" />
                                            <input type="checkbox" checked="checked" ng-click="CategorySelected(filterCategoryList[$index+2])" />
                                            {{filterCategoryList[$index+2].TypeName}}
                                        </div>
                                    </td>
                                    <td ng-switch-when="0">
                                        <div class="cat_DisplayNewLine" ng-show="filterCategoryList[$index+3]">
                                            <img src="~/Images/User/Category/{{filterCategoryList[$index+3].TypeName}}.png" alt="{{filterCategoryList[$index+3].TypeName}}" width="50px" height="50px" />
                                            <input type="checkbox" checked="checked" ng-click="CategorySelected(filterCategoryList[$index+3])" />
                                            {{filterCategoryList[$index+3].TypeName}}
                                        </div>
                                    </td>
                                    <td ng-switch-when="0">
                                        <div class="cat_DisplayNewLine" ng-show="filterCategoryList[$index+4]">
                                            <img src="~/Images/User/Category/{{filterCategoryList[$index+4].TypeName}}.png" alt="{{filterCategoryList[$index+4].TypeName}}" width="50px" height="50px" />
                                            <input type="checkbox" checked="checked" ng-click="CategorySelected(filterCategoryList[$index+4])" />
                                            {{filterCategoryList[$index+4].TypeName}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" id="placeSeachForAdding" placeholder="Search Interested Place" ng-keyup="categoryFilter()" ng-model="CategoryPlaceSearch"  /> 
                            <input type="button" ng-click="CategorySelectedAttractionFilter()" value="Show All"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr ng-repeat="attraction in filterAttractionList" ng-switch on="$index % 2">
                                    <td ng-switch-when="0" valign="top">
                                        <table ng-show="filterAttractionList[$index]" class="attractionInfo" colspan="10">
                                            <tr>
                                                <td rowspan="6" valign="top">
                                                    <div ng-if="filterAttractionList[$index].PhotoURL">
                                                        <a herf="javascript:void(0)" style="cursor: pointer">
                                                            <img src="{{filterAttractionList[$index].PhotoURL}}" alt="{{filterAttractionList[$index].AttractionName}} Photo" 
                                                                 width="300px" height="300px" 
                                                                 ng-click="imageSlideShow(filterAttractionList[$index].AttractionsId,filterAttractionList[$index].AttractionName)"/>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="attractionName" valign="top">
                                                    <table>
                                                        <tr>
                                                            <td valign="top">
                                                                {{filterAttractionList[$index].AttractionName}}            
                                                            </td>
                                                            <td valign="top">
                                                                <a herf="javascript:void(0)" style="cursor: pointer">
                                                                    <img src="~/Images/Custome/intersted.png" alt="Interested" width="50px" height="50px"
                                                                         ng-click="Interested(filterAttractionList[$index])"/>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <span class="columnHeading">Address: </span>
                                                    <span calss="columnValue">
                                                        {{filterAttractionList[$index].GoogleSearchText}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <span class="columnHeading">Phone: </span>
                                                    <span calss="columnValue">
                                                        {{filterAttractionList[$index].GoogleInternational_phone_number}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <span class="columnHeading">Google Rating:</span>
                                                    <span calss="columnValue">
                                                        {{filterAttractionList[$index].GoogleRating}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="columnHeading">Open Time:</span> <a href="javascript:void(0)">Click</a>
                                                </td>
                                                <td>
                                                    <span class="columnHeading">
                                                        Price Level:
                                                    </span>
                                                    <span calss="columnValue">
                                                        <span ng-if="filterAttractionList[$index].PriceLevel<2">Normal</span>
                                                        <span ng-if="filterAttractionList[$index].PriceLevel===2">Medium</span>
                                                        <span ng-if="filterAttractionList[$index].PriceLevel>2">Expensive</span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td ng-switch-when="0">
                                        <table ng-show="filterAttractionList[$index+1]" class="attractionInfo">
                                            <tr>
                                                <td rowspan="6">
                                                    
                                                    <div ng-if="filterAttractionList[$index+1].PhotoURL">
                                                        <a herf="javascript:void(0)" style="cursor: pointer">
                                                            <img src="{{filterAttractionList[$index+1].PhotoURL}}" alt="{{filterAttractionList[$index+1].AttractionName}} Photo"
                                                                 width="300px" height="300px" 
                                                                 ng-click="imageSlideShow(filterAttractionList[$index+1].AttractionsId,filterAttractionList[$index+1].AttractionName)"/>
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="attractionName" valign="top">
                                                    <table>
                                                        <tr>
                                                            <td valign="top">
                                                                {{filterAttractionList[$index+1].AttractionName}}
                                                            </td>
                                                            <td valign="top">
                                                                <a herf="javascript:void(0)" style="cursor: pointer">
                                                                    <img src="~/Images/Custome/intersted.png" alt="Interested" width="50px" height="50px"
                                                                         ng-click="Interested(filterAttractionList[$index+1])" />
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <span class="columnHeading">Address: </span>
                                                    <span calss="columnValue">
                                                        {{filterAttractionList[$index+1].GoogleSearchText}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <span class="columnHeading">Phone:</span>
                                                    <span calss="columnValue">
                                                        {{filterAttractionList[$index+1].GoogleInternational_phone_number}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <span class="columnHeading">Google Rating:</span>
                                                    <span calss="columnValue">
                                                        {{filterAttractionList[$index+1].GoogleRating}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="columnHeading">Open Time:</span>
                                                    <a href="javascript:void(0)">Click</a>
                                                </td>
                                                <td>
                                                    <span class="columnHeading">
                                                        Price Level:
                                                    </span>
                                                    <span calss="columnValue" ng-show="filterAttractionList[$index+1].PriceLevel>0">

                                                        <span ng-if="filterAttractionList[$index+1].PriceLevel<2">Normal</span>
                                                        <span ng-if="filterAttractionList[$index+1].PriceLevel===2">Medium</span>
                                                        <span ng-if="filterAttractionList[$index+1].PriceLevel>2">Expensive</span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>



</div>
<div id="tab_TourPlan">
    <!--Tour Plan tabs-->
    <div id="subtabs" style="width:1130px;">
        <ul></ul>
    </div>



    <div>
    </div>
</div>
<div id="tab_TourMap">
    <div id="googleMaps" style="float: left;">
    </div>
</div>
<div id="tab_SuggestedAttractions">
    <p>
        UP Comming
    </p>
</div>
<div id="tab_BuildStatus">
    <div>
        <table cellpadding="5" cellspacing="5" border="1">
            <tr ng-repeat="_buildStatus in UserTripBuildStatus">
                <td ng-class="{errorMessage : _buildStatus.IsError, warningMessage: !_buildStatus.IsError}">
                    {{_buildStatus.FormattedMessage}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="tab_TourExpenses">
    <table>
        <tr>
            <td>
                <table class="border expenseMainInfo">
                    <tr>
                        <td class="paddingLeft">
                            Total Expense: <span id="expense_Expense"></span>
                        </td>
                        <td class="paddingLeft">
                            No Of Days: <span id="expense_Days"></span>
                        </td>
                        <td class="paddingLeft">
                            No Of Attractions: <span id="expense_AttractionsList"></span>
                        </td>
                        <td class="paddingLeft">
                            Total Distance: <span id="expense_Distance"></span> Miles
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table class="border">
                    <tr>
                        <td class="paddingLeft">
                            Total Break Fast Expense: <span id="expense_BreakFastExpense"></span>
                        </td>
                        <td class="paddingLeft">
                            Total Lunch Expense: <span id="expense_LunchExpense"></span>
                        </td>
                        <td class="paddingLeft">
                            Total Break Expense: <span id="expense_BreakExpense"></span>
                        </td>
                        <td class="paddingLeft">
                            Total Dinner Expense: <span id="expense_DinnerExpense"></span>
                        </td>
                        <td class="paddingLeft">
                            Total Day Expense: <span id="expense_DayExpense"></span>
                        </td>
                        <td class="paddingLeft">
                            Total Car Rental Expense: <span id="expense_RentalExpense"></span>
                        </td>
                        <td class="paddingLeft">
                            Total Fuel Expense: <span id="expense_FuelExpense"></span>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    <tr>
        <td>
            <table class="border">
                <tr>
                    <td class="paddingLeft infoMessage" colspan="3">
                        <span>This No of cars will update to all the Day's No of cars</span>
                    </td>
                </tr>
                <tr>
                    <td class="paddingLeft">
                        <table>
                            <tr>
                                <td>
                                    No Of Persons: <select id="expense_Persons" onchange="TripInfoUpdate()">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                        <option value="22">22</option>
                                        <option value="23">23</option>
                                        <option value="24">24</option>
                                        <option value="25">25</option>
                                        <option value="26">26</option>
                                        <option value="27">27</option>
                                        <option value="28">28</option>
                                        <option value="29">29</option>
                                        <option value="30">30</option>
                                        <option value="31">31</option>
                                        <option value="32">32</option>
                                        <option value="33">33</option>
                                        <option value="34">34</option>
                                        <option value="35">35</option>
                                        <option value="36">36</option>
                                        <option value="37">37</option>
                                        <option value="38">38</option>
                                        <option value="39">39</option>
                                        <option value="40">40</option>
                                        <option value="41">41</option>
                                        <option value="42">42</option>
                                        <option value="43">43</option>
                                        <option value="44">44</option>
                                        <option value="45">45</option>
                                        <option value="46">46</option>
                                        <option value="47">47</option>
                                        <option value="48">48</option>
                                        <option value="49">49</option>
                                        <option value="50">50</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="paddingLeft">
                        <table>
                            <tr>
                                <td>
                                    No Of Cars: <select id="expense_Cars" onchange="TripInfoUpdate()">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="paddingLeft">
                        Average Car Mileage Per Gallon: <select id="expense_PerGallon" onchange="TripInfoUpdate()">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="25">25</option>
                            <option value="30">30</option>
                            <option value="35">35</option>
                            <option value="40">40</option>
                            <option value="45">45</option>
                            <option value="50">50</option>
                        </select>
                    </td>
                    <td class="paddingLeft">
                        Per Gallon Fuel Average Price: <input type="text" id="expense_PerGallonPrice" class="txtBoxSize" onkeyup="TripInfoUpdate()"/>
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    Driving Break: Every <select id="expense_DrivingBreak" onchange="TripInfoUpdate()">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select> Hours
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
        <tr>
            <td>
                <table>
                    <tr ng-repeat="dayBreak in UpdatedBreaks" ng-switch on="$index % 5">
                        <td ng-switch-when="0" valign="top">
                            <table class="border">
                            <tr>
                                <td class="dateFormat">
                                    {{UpdatedBreaks[$index].RequestDate}}
                                </td>
                            </tr>
                                <tr>
                                    <td>
                                        Attractions: {{UpdatedBreaks[$index].NoOfAttractions}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Distance: {{UpdatedBreaks[$index].Distance}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        No Of Cars: {{UpdatedBreaks[$index].NoOfCars}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Mileage: {{UpdatedBreaks[$index].AverageMileage}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Car Rental Expense:{{UpdatedBreaks[$index].CarRentalExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index].BreakFastAttractionId>0">
                                        Break Fast Expense: {{UpdatedBreaks[$index].BreakFastExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index].LunchAttractionId>0">
                                        Lunch Expense: {{UpdatedBreaks[$index].LunchExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index].BreakAttractionId>0">
                                        Break Expense: {{UpdatedBreaks[$index].BreakExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index].DinnerAttractionId>0">
                                        Dinner Expense: {{UpdatedBreaks[$index].DinnerExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index].DayBreakAttractionId>0">
                                        <table>
                                            <tr>
                                                <td>
                                                    No Of Rooms: {{UpdatedBreaks[$index].NoOfRooms}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Day Break Expense: {{UpdatedBreaks[$index].DayBreakExpense}}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td ng-switch-when="0" valign="top" ng-show="UpdatedBreaks[$index+1].NoOfAttractions>0">
                            <table class="border">
                                <tr>
                                    <td class="dateFormat">
                                        {{UpdatedBreaks[$index+1].RequestDate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Attractions: {{UpdatedBreaks[$index+1].NoOfAttractions}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Distance: {{UpdatedBreaks[$index+1].Distance}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        No Of Cars: {{UpdatedBreaks[$index+1].NoOfCars}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Mileage: {{UpdatedBreaks[$index+1].AverageMileage}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Car Rental Expense:{{UpdatedBreaks[$index+1].CarRentalExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+1].BreakFastAttractionId>0">
                                        Break Fast Expense: {{UpdatedBreaks[$index+1].BreakFastExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+1].LunchAttractionId>0">
                                        Lunch Expense: {{UpdatedBreaks[$index+1].LunchExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+1].BreakAttractionId>0">
                                        Break Expense: {{UpdatedBreaks[$index+1].BreakExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+1].DinnerAttractionId>0">
                                        Dinner Expense: {{UpdatedBreaks[$index+1].DinnerExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+1].DayBreakAttractionId>0">
                                        <table>
                                            <tr>
                                                <td>
                                                    No Of Rooms: {{UpdatedBreaks[$index+1].NoOfRooms}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Day Break Expense: {{UpdatedBreaks[$index+1].DayBreakExpense}}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td ng-switch-when="0" valign="top" ng-show="UpdatedBreaks[$index+2].NoOfAttractions>0">
                            <table class="border">
                                <tr>
                                    <td class="dateFormat">
                                        {{UpdatedBreaks[$index+2].RequestDate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Attractions: {{UpdatedBreaks[$index+2].NoOfAttractions}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Distance: {{UpdatedBreaks[$index+2].Distance}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        No Of Cars: {{UpdatedBreaks[$index+2].NoOfCars}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Mileage: {{UpdatedBreaks[$index+2].AverageMileage}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Car Rental Expense:{{UpdatedBreaks[$index+2].CarRentalExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+2].BreakFastAttractionId>0">
                                        Break Fast Expense: {{UpdatedBreaks[$index+2].BreakFastExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+2].LunchAttractionId>0">
                                        Lunch Expense: {{UpdatedBreaks[$index+2].LunchExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+2].BreakAttractionId>0">
                                        Break Expense: {{UpdatedBreaks[$index+2].BreakExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+2].DinnerAttractionId>0">
                                        Dinner Expense: {{UpdatedBreaks[$index+2].DinnerExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+2].DayBreakAttractionId>0">
                                        <table>
                                            <tr>
                                                <td>
                                                    No Of Rooms: {{UpdatedBreaks[$index+2].NoOfRooms}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Day Break Expense: {{UpdatedBreaks[$index+2].DayBreakExpense}}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td ng-switch-when="0" valign="top" ng-show="UpdatedBreaks[$index+3].NoOfAttractions>0">
                            <table class="border">
                                <tr>
                                    <td class="dateFormat">
                                        {{UpdatedBreaks[$index+3].RequestDate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Attractions: {{UpdatedBreaks[$index+3].NoOfAttractions}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Distance: {{UpdatedBreaks[$index+3].Distance}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        No Of Cars: {{UpdatedBreaks[$index+3].NoOfCars}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Mileage: {{UpdatedBreaks[$index+3].AverageMileage}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Car Rental Expense:{{UpdatedBreaks[$index+3].CarRentalExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+3].BreakFastAttractionId>0">
                                        Break Fast Expense: {{UpdatedBreaks[$index+3].BreakFastExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+3].LunchAttractionId>0">
                                        Lunch Expense: {{UpdatedBreaks[$index+3].LunchExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+3].BreakAttractionId>0">
                                        Break Expense: {{UpdatedBreaks[$index+3].BreakExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+3].DinnerAttractionId>0">
                                        Dinner Expense: {{UpdatedBreaks[$index+3].DinnerExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+3].DayBreakAttractionId>0">
                                        <table>
                                            <tr>
                                                <td>
                                                    No Of Rooms: {{UpdatedBreaks[$index+3].NoOfRooms}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Day Break Expense: {{UpdatedBreaks[$index+3].DayBreakExpense}}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td ng-switch-when="0" valign="top" ng-show="UpdatedBreaks[$index+4].NoOfAttractions>0">
                            <table class="border">
                                <tr>
                                    <td class="dateFormat">
                                        {{UpdatedBreaks[$index+4].RequestDate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Attractions: {{UpdatedBreaks[$index+4].NoOfAttractions}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Distance: {{UpdatedBreaks[$index+4].Distance}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        No Of Cars: {{UpdatedBreaks[$index+4].NoOfCars}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Mileage: {{UpdatedBreaks[$index+4].AverageMileage}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Car Rental Expense:{{UpdatedBreaks[$index+4].CarRentalExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+4].BreakFastAttractionId>0">
                                        Break Fast Expense: {{UpdatedBreaks[$index+4].BreakFastExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+4].LunchAttractionId>0">
                                        Lunch Expense: {{UpdatedBreaks[$index+4].LunchExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+4].BreakAttractionId>0">
                                        Break Expense: {{UpdatedBreaks[$index+4].BreakExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+4].DinnerAttractionId>0">
                                        Dinner Expense: {{UpdatedBreaks[$index+4].DinnerExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+4].DayBreakAttractionId>0">
                                        <table>
                                            <tr>
                                                <td>
                                                    No Of Rooms: {{UpdatedBreaks[$index+4].NoOfRooms}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Day Break Expense: {{UpdatedBreaks[$index+4].DayBreakExpense}}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td ng-switch-when="0" valign="top" ng-show="UpdatedBreaks[$index+5].NoOfAttractions>0">
                            <table class="border">
                                <tr>
                                    <td class="dateFormat">
                                        {{UpdatedBreaks[$index+5].RequestDate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Attractions: {{UpdatedBreaks[$index+5].NoOfAttractions}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Distance: {{UpdatedBreaks[$index+5].Distance}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        No Of Cars: {{UpdatedBreaks[$index+5].NoOfCars}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Mileage: {{UpdatedBreaks[$index+5].AverageMileage}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Car Rental Expense:{{UpdatedBreaks[$index+5].CarRentalExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+5].BreakFastAttractionId>0">
                                        Break Fast Expense: {{UpdatedBreaks[$index+5].BreakFastExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+5].LunchAttractionId>0">
                                        Lunch Expense: {{UpdatedBreaks[$index+5].LunchExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+5].BreakAttractionId>0">
                                        Break Expense: {{UpdatedBreaks[$index+5].BreakExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+5].DinnerAttractionId>0">
                                        Dinner Expense: {{UpdatedBreaks[$index+5].DinnerExpense}}
                                    </td>
                                </tr>
                                <tr>
                                    <td ng-show="UpdatedBreaks[$index+5].DayBreakAttractionId>0">
                                        <table>
                                            <tr>
                                                <td>
                                                    No Of Rooms: {{UpdatedBreaks[$index+5].NoOfRooms}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Day Break Expense: {{UpdatedBreaks[$index+5].DayBreakExpense}}
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
</div>
</div>
</td>
</tr>

</table>

<br />
<br />

<div id="addingAttraction" title="Adddint Attraction Information">
    <p class="validateTips">All form fields are required.</p>
    <form>
        <fieldset>
            <input id="autoAddAttraction" placeholder="Location" onKeyUp="getAttractions()">
        </fieldset>
    </form>
</div>
    
    
<div id="addingBreak" title="Adding Break Information">
    <p class="validateTips">All form fields are required.</p>
    <table>
        <tr>
            <td>
                <form>
                    <fieldset>
                        <input type="hidden" id="hdSelectedDivId"/>
                        <input type="hidden" id="hdSelectedBreakType" />
                        <input type="hidden" id="hdSourceLongitude" />
                        <input type="hidden" id="hdSourceLatitude" />
                        <input id="autoAddAttractionForBreak" placeholder="Location" ng-keyup="BreakAttractionCallingAutoComplete()"/>
                        <br/>
                        Distance from <span id="breakPreviousAttractionName" style="color: orange; font-weight: bold"></span>:

                        <select id="breakDistance" onchange="BreakAttractionCalling()">
                            <option value="5">5Miles</option>
                            <option value="10">10Miles</option>
                            <option value="20">20Miles</option>
                            <option value="30">30Miles</option>
                            <option value="40">40Miles</option>
                            <option value="50">50Miles</option>
                            <option value="60">60Miles</option>
                            <option value="70">70Miles</option>
                            <option value="80">80Miles</option>
                            <option value="90">90Miles</option>
                            <option value="100">100Miles</option>
                        </select>
                    </fieldset>
                </form>    
            </td>
        </tr>
        <tr>
            <td>
                <table id="chkExtraCategory">
                    <tr ng-repeat="categoryList in ExtraCategoryList" ng-switch on="$index % 5">
                        <td ng-switch-when="0" valign="top">
                            <div class="cat_DisplayNewLine" ng-show="ExtraCategoryList[$index]">
                                <img src="~/Images/User/Category/{{ExtraCategoryList[$index].TypeName}}.png" alt="{{ExtraCategoryList[$index].TypeName}}" width="50px" height="50px" />
                                <input type="checkbox" checked="checked" ng-click="ExtraCategorySelected(ExtraCategoryList[$index])" />
                                {{ExtraCategoryList[$index].TypeName}}
                            </div>
                        </td>
                        <td ng-switch-when="0">
                            <div class="cat_DisplayNewLine" ng-show="ExtraCategoryList[$index+1]">
                                <img src="~/Images/User/Category/{{ExtraCategoryList[$index+1].TypeName}}.png" alt="{{ExtraCategoryList[$index+1].TypeName}}" width="50px" height="50px" />
                                <input type="checkbox" checked="checked" ng-click="ExtraCategorySelected(ExtraCategoryList[$index+1])" />
                                {{ExtraCategoryList[$index+1].TypeName}}
                            </div>
                        </td>
                        <td ng-switch-when="0">
                            <div class="cat_DisplayNewLine" ng-show="ExtraCategoryList[$index+2]">
                                <img src="~/Images/User/Category/{{ExtraCategoryList[$index+2].TypeName}}.png" alt="{{ExtraCategoryList[$index+2].TypeName}}" width="50px" height="50px" />
                                <input type="checkbox" checked="checked" ng-click="ExtraCategorySelected(ExtraCategoryList[$index+2])" />
                                {{ExtraCategoryList[$index+2].TypeName}}
                            </div>
                        </td>
                        <td ng-switch-when="0">
                            <div class="cat_DisplayNewLine" ng-show="ExtraCategoryList[$index+3]">
                                <img src="~/Images/User/Category/{{ExtraCategoryList[$index+3].TypeName}}.png" alt="{{ExtraCategoryList[$index+3].TypeName}}" width="50px" height="50px" />
                                <input type="checkbox" checked="checked" ng-click="ExtraCategorySelected(ExtraCategoryList[$index+3])" />
                                {{ExtraCategoryList[$index+3].TypeName}}
                            </div>
                        </td>
                        <td ng-switch-when="0">
                            <div class="cat_DisplayNewLine" ng-show="ExtraCategoryList[$index+4]">
                                <img src="~/Images/User/Category/{{ExtraCategoryList[$index+4].TypeName}}.png" alt="{{ExtraCategoryList[$index+4].TypeName}}" width="50px" height="50px" />
                                <input type="checkbox" checked="checked" ng-click="ExtraCategorySelected(ExtraCategoryList[$index+4])" />
                                {{ExtraCategoryList[$index+4].TypeName}}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr ng-repeat="attraction in FilterNearLocations" ng-switch on="$index % 2">
                        <td ng-switch-when="0" valign="top">
                            <table ng-show="FilterNearLocations[$index]" class="attractionInfo">
                                <tr>
                                    <td rowspan="7">
                                        <div ng-if="FilterNearLocations[$index].PhotoURL">
                                            <a herf="javascript:void(0)" style="cursor: pointer">
                                                <img src="{{FilterNearLocations[$index].PhotoURL}}" alt="{{FilterNearLocations[$index].AttractionName}} Photo"
                                                     width="300px" height="300px" 
                                                     ng-click="imageSlideShow(FilterNearLocations[$index].AttractionsId,FilterNearLocations[$index].AttractionName)"/>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="attractionName">
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    {{FilterNearLocations[$index].AttractionName}}
                                                </td>
                                                <td valign="top">
                                                    <a herf="javascript:void(0)" style="cursor: pointer">
                                                        <img src="~/Images/Custome/intersted.png" alt="Interested" width="50px" height="50px"
                                                             ng-click="InsertBreakInformation(FilterNearLocations[$index])" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="columnHeading">Address: </span>
                                        <span calss="columnValue">
                                            {{FilterNearLocations[$index].AddressOne}}, {{FilterNearLocations[$index].AddressTwo}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="columnHeading">Phone: </span>
                                        <span calss="columnValue">
                                            {{FilterNearLocations[$index].GoogleInternational_phone_number}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="columnHeading">Google Rating:</span>
                                        <span calss="columnValue">
                                            {{FilterNearLocations[$index].GoogleRating}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="columnHeading">Travel Time:{{FilterNearLocations[$index].TravelTime}}</span> 
                                    </td>
                                    <td>
                                        <span class="columnHeading">
                                            Distance:{{FilterNearLocations[$index].Distance}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="columnHeading">Open Time:</span> <a href="javascript:void(0)">Click</a>
                                    </td>
                                    <td>
                                        <span class="columnHeading">
                                            Price Level:
                                        </span>
                                        <span calss="columnValue">
                                            <span ng-if="FilterNearLocations[$index].PriceLevel<2">Normal</span>
                                            <span ng-if="FilterNearLocations[$index].PriceLevel===2">Medium</span>
                                            <span ng-if="FilterNearLocations[$index].PriceLevel>2">Expensive</span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td ng-switch-when="0">
                            <table ng-show="FilterNearLocations[$index+1]" class="attractionInfo">
                                <tr>
                                    <td rowspan="7">
                                        <div ng-if="FilterNearLocations[$index+1].PhotoURL">
                                            <a herf="javascript:void(0)" style="cursor: pointer">
                                                <img src="{{FilterNearLocations[$index+1].PhotoURL}}" alt="{{FilterNearLocations[$index+1].AttractionName}} Photo"
                                                     width="300px" height="300px" 
                                                     ng-click="imageSlideShow(FilterNearLocations[$index+1].AttractionsId,FilterNearLocations[$index+1].AttractionName)"/>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="attractionName">
                                        <table>
                                            <tr>
                                                <td valign="top">
                                                    {{FilterNearLocations[$index+1].AttractionName}}
                                                </td>
                                                <td valign="top">
                                                    <a herf="javascript:void(0)" style="cursor: pointer">
                                                        <img src="~/Images/Custome/intersted.png" alt="Interested" width="50px" height="50px"
                                                             ng-click="InsertBreakInformation(FilterNearLocations[$index+1])" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="columnHeading">Address: </span>
                                        <span calss="columnValue">
                                            {{FilterNearLocations[$index+1].AddressOne}}, {{FilterNearLocations[$index+1].AddressTwo}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="columnHeading">Phone:</span>
                                        <span calss="columnValue">
                                            {{FilterNearLocations[$index+1].GoogleInternational_phone_number}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="columnHeading">Google Rating:</span>
                                        <span calss="columnValue">
                                            {{FilterNearLocations[$index+1].GoogleRating}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="columnHeading">Travel Time:{{FilterNearLocations[$index].TravelTime}}</span>
                                    </td>
                                    <td>
                                        <span class="columnHeading">
                                            Distance:{{FilterNearLocations[$index].Distance}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="columnHeading">Open Time:</span>
                                        <a href="javascript:void(0)">Click</a>
                                    </td>
                                    <td>
                                        <span class="columnHeading">
                                            Price Level:
                                        </span>
                                        <span calss="columnValue" ng-show="FilterNearLocations[$index+1].PriceLevel>0">

                                            <span ng-if="FilterNearLocations[$index+1].PriceLevel<2">Normal</span>
                                            <span ng-if="FilterNearLocations[$index+1].PriceLevel===2">Medium</span>
                                            <span ng-if="FilterNearLocations[$index+1].PriceLevel>2">Expensive</span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
    
    
<div id="photoSlideShow" title="Attraction Photo Info">
    <div class="slider">
        <div class="slide" ng-repeat="image in images">
            <img src="{{image.src}}" id="{{image.id}}" width="700px" height="400px"/>
        </div>
        <div class="arrows">
            <a href="#" ng-click="prev()">
                <img src="~/Images/User/UI/left-arrow.png"/>
            </a> 
            <a href="#" ng-click="next()">
                <img src="~/Images/User/UI/right-arrow.png"/>
            </a>
        </div>
    </div>
</div>

</div>
