@{
    ViewBag.Title = "index";
    Layout = "~/Views/Shared/_LayoutBeachResort.cshtml";
}
@Scripts.Render("~/index")
<link href="~/Content/AttractionsCategories.css" rel="stylesheet" />
<div id="main" ng-controller="controlerIndex">
<table cellpadding="0" cellspacing="0" border="0">
<tr>
<td>
<div class="divIndex" id="controlerIndex">
<div id="tabs" style="width:1200px;" class="avoidBorder">
<ul>
    <li><a href="#tab_Filter">Filter</a></li>
    <li><a href="#tab_Categories">Categories</a></li>
    <li><a href="#tab_TourPlan" ng-click="TourTabClick()">Tour Plan</a></li>
    <li><a href="#tab_TourMap">Tour Map</a></li>
    <li><a href="#tab_SuggestedAttractions">Suggested Attractions</a></li>
    <li><a href="#tab_BuildStatus">Tour Build Status</a></li>
    <li><a href="#tab_TourAnalysis">Tour Analysis</a></li>
</ul>
<div id="tab_Filter">
    <table border="0">
        <tr>
            <td>
                <div class="ui-widget" style="float: left; padding: 5px">
                    <input id="autoCityName" placeholder="Enter City Name"> <input type="button" value="Add More Cites" ng-click="addCitites()" />
                    <br />
                    <div id="travelBasic" style="display: none">
                        <input id="autoStartLocation" placeholder="Start Location">
                        <br />
                        <input id="autoDestinationLocation" placeholder="End Location">
                        <br />
                        <input id="calStartDateAndTime" placeholder="Start Date And Time" ng-model="StartDate">
                        <br />
                        <input id="calDropDateAndTime" placeholder="End Date And Time">
                    </div>
                </div>
            </td>
            <td ng-show="VisitCityList.length>0">
                <table>
                    <tr>
                        <td>
                            City Name
                        </td>
                        <td>
                            Order or Visit
                        </td>
                    </tr>
                    <tr ng-repeat="cities in  VisitCityList | orderBy:'recordIndex'">
                        <td>
                            <table>
                                <tr>
                                    <td>
                                        {{cities.cityName}}
                                    </td>
                                    <td>
                                        <img src="/Images/Custome/red_x.png" alt="Not Intereseted" width="30px" height="30px" ng-click="CityNotIntereseted(cities.cityId)" />
                                    </td>
                                    <td>
                                        <img ng-show="!$first" src="/Images/Custome/up.jpg" alt="Up" width="30px" height="30px" ng-click="IsCityOrderUpdated(cities.cityId, cities.recordIndex, true)" />
                                        <img ng-show="!$last" src="/Images/Custome/down.jpg" alt="Down" width="30px" height="30px" ng-click="IsCityOrderUpdated(cities.cityId, cities.recordIndex, false)" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<div id="tab_Categories">
    <table>
        <tr>
            <td style="width:300px" valign="top">
                <table>
                    <tr>
                        <td valign="top">
                            <ul class="Catnav" ng-repeat="mainCategoryList in MasterCategoryList">
                                <li ng-class="{'CatNavSelected':CssMainCategory(mainCategoryList.CategoryId)}">
                                    <a href="JavaScript:Void(0)" ng-click="ClickMainCategorySelected(mainCategoryList.CategoryId)">
                                        {{mainCategoryList.CategoryName}}
                                    </a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </td>
            <td valign="top">
                <table ng-show="filterCategoryList.length">
                    <tr>
                        <td valign="top">
                            <table>
                                <tr ng-repeat="categoryList in filterCategoryList" ng-switch on="$index % 5">
                                    <td ng-switch-when="0" valign="top">
                                        <div class="cat_DisplayNewLine" ng-show="filterCategoryList[$index]">
                                            <img src="/Images/User/Category/{{filterCategoryList[$index].TypeName}}.png" alt="{{filterCategoryList[$index].TypeName}}" width="50px" height="50px" />
                                            <input type="checkbox" checked="checked" ng-click="CategorySelected(filterCategoryList[$index])" />
                                            {{filterCategoryList[$index].TypeName}}
                                        </div>
                                    </td>
                                    <td ng-switch-when="0">
                                        <div class="cat_DisplayNewLine" ng-show="filterCategoryList[$index+1]">
                                            <img src="/Images/User/Category/{{filterCategoryList[$index+1].TypeName}}.png" alt="{{filterCategoryList[$index+1].TypeName}}" width="50px" height="50px" />
                                            <input type="checkbox" checked="checked" ng-click="CategorySelected(filterCategoryList[$index+1])" />
                                            {{filterCategoryList[$index+1].TypeName}}
                                        </div>
                                    </td>
                                    <td ng-switch-when="0">
                                        <div class="cat_DisplayNewLine" ng-show="filterCategoryList[$index+2]">
                                            <img src="/Images/User/Category/{{filterCategoryList[$index+2].TypeName}}.png" alt="{{filterCategoryList[$index+2].TypeName}}" width="50px" height="50px" />
                                            <input type="checkbox" checked="checked" ng-click="CategorySelected(filterCategoryList[$index+2])" />
                                            {{filterCategoryList[$index+2].TypeName}}
                                        </div>
                                    </td>
                                    <td ng-switch-when="0">
                                        <div class="cat_DisplayNewLine" ng-show="filterCategoryList[$index+3]">
                                            <img src="/Images/User/Category/{{filterCategoryList[$index+3].TypeName}}.png" alt="{{filterCategoryList[$index+3].TypeName}}" width="50px" height="50px" />
                                            <input type="checkbox" checked="checked" ng-click="CategorySelected(filterCategoryList[$index+3])" />
                                            {{filterCategoryList[$index+3].TypeName}}
                                        </div>
                                    </td>
                                    <td ng-switch-when="0">
                                        <div class="cat_DisplayNewLine" ng-show="filterCategoryList[$index+4]">
                                            <img src="/Images/User/Category/{{filterCategoryList[$index+4].TypeName}}.png" alt="{{filterCategoryList[$index+4].TypeName}}" width="50px" height="50px" />
                                            <input type="checkbox" checked="checked" ng-click="CategorySelected(filterCategoryList[$index+4])" />
                                            {{filterCategoryList[$index+4].TypeName}}
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="text" placeholder="Search Interested Place" ng-keyup="categoryFilter()" ng-model="CategoryPlaceSearch"  /> 
                            <input type="button" ng-click="CategorySelectedAttractionFilter()" value="Show All"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>
                                <tr ng-repeat="attraction in filterAttractionList" ng-switch on="$index % 2">
                                    <td ng-switch-when="0" valign="top">
                                        <table ng-show="filterAttractionList[$index]" class="attractionInfo">
                                            <tr>
                                                <td rowspan="6">
                                                    <a herf="javascript:void(0)" style="cursor:pointer">
                                                        <img src="~/Images/Custome/intersted.png" alt="Interested" width="100px" height="100px"
                                                             ng-click="Interested(filterAttractionList[$index])" />
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="attractionName">
                                                    {{filterAttractionList[$index].AttractionName}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <span class="columnHeading">Address: </span>
                                                    <span calss="columnValue">
                                                        {{filterAttractionList[$index].AddressOne}}, {{filterAttractionList[$index].AddressTwo}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <span class="columnHeading">Phone: </span>
                                                    <span calss="columnValue">
                                                        {{filterAttractionList[$index].GoogleInternational_phone_number}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <span class="columnHeading">Google Rating:</span>
                                                    <span calss="columnValue">
                                                        {{filterAttractionList[$index].GoogleRating}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="columnHeading">Open Time:</span> <a href="javascript:void(0)">Click</a>
                                                </td>
                                                <td>
                                                    <span class="columnHeading">
                                                        Price Level:
                                                    </span>
                                                    <span calss="columnValue">
                                                        <span ng-if="filterAttractionList[$index].PriceLevel<2">Normal</span>
                                                        <span ng-if="filterAttractionList[$index].PriceLevel===2">Medium</span>
                                                        <span ng-if="filterAttractionList[$index].PriceLevel>2">Expensive</span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td ng-switch-when="0">
                                        <table ng-show="filterAttractionList[$index+1]" class="attractionInfo">
                                            <tr>
                                                <td rowspan="6">
                                                    <a herf="javascript:void(0)" style="cursor:pointer">
                                                        <img src="~/Images/Custome/intersted.png" alt="Interested" width="100px" height="100px"
                                                             ng-click="Interested(filterAttractionList[$index+1])"/>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="attractionName">
                                                    {{filterAttractionList[$index+1].AttractionName}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <span class="columnHeading">Address: </span>
                                                    <span calss="columnValue">
                                                        {{filterAttractionList[$index+1].AddressOne}}, {{filterAttractionList[$index+1].AddressTwo}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <span class="columnHeading">Phone:</span>
                                                    <span calss="columnValue">
                                                        {{filterAttractionList[$index+1].GoogleInternational_phone_number}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <span class="columnHeading">Google Rating:</span>
                                                    <span calss="columnValue">
                                                        {{filterAttractionList[$index+1].GoogleRating}}
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <span class="columnHeading">Open Time:</span>
                                                    <a href="javascript:void(0)">Click</a>
                                                </td>
                                                <td>
                                                    <span class="columnHeading">
                                                        Price Level:
                                                    </span>
                                                    <span calss="columnValue" ng-show="filterAttractionList[$index+1].PriceLevel>0">

                                                        <span ng-if="filterAttractionList[$index+1].PriceLevel<2">Normal</span>
                                                        <span ng-if="filterAttractionList[$index+1].PriceLevel===2">Medium</span>
                                                        <span ng-if="filterAttractionList[$index+1].PriceLevel>2">Expensive</span>
                                                    </span>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>



</div>
<div id="tab_TourPlan">
    <!--Tour Plan tabs-->
    <div id="subtabs" style="width:1130px;">
        <ul></ul>
    </div>



    <div>
    </div>
</div>
<div id="tab_TourMap">
    <div id="googleMaps" style="float: left;">
    </div>
</div>
<div id="tab_SuggestedAttractions">
    <p>
        UP Comming
    </p>
</div>
<div id="tab_BuildStatus">
    <div>
        <table cellpadding="5" cellspacing="5" border="1">
            <tr ng-repeat="_buildStatus in UserTripBuildStatus">
                <td ng-class="{errorMessage : _buildStatus.IsError, warningMessage: !_buildStatus.IsError}">
                    {{_buildStatus.FormattedMessage}}
                </td>
            </tr>
        </table>
    </div>
</div>
<div id="tab_TourAnalysis">
    <p>
        UP Comming
    </p>
</div>
</div>
</div>
</td>
</tr>

</table>

<br />
<br />
<div id="editTour" title="Modify Tour Information">
    <p class="validateTips">All form fields are required.</p>
    <form>
        <fieldset>
            <label for="name">No Of Hours Required to View</label>
            <input type="text" alt="View Time" id="ViewTime" />
        </fieldset>
    </form>
</div>
<div id="addingAttraction" title="Adddint Attraction Information">
    <p class="validateTips">All form fields are required.</p>
    <form>
        <fieldset>
            <input id="autoAddAttraction" placeholder="Location" onKeyUp="getAttractions()">
        </fieldset>
    </form>
</div>
    
    
<div id="addingBreak" title="Adding Break Information">
    <p class="validateTips">All form fields are required.</p>
    <table>
        <tr>
            <td>
                <form>
                    <fieldset>
                        <input id="autoAddAttraction" placeholder="Location" onKeyUp="getAttractions()">
                    </fieldset>
                </form>    
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr ng-repeat="categoryList in ExtraCategoryList" ng-switch on="$index % 5">
                        <td ng-switch-when="0" valign="top">
                            <div class="cat_DisplayNewLine" ng-show="ExtraCategoryList[$index]">
                                <img src="/Images/User/Category/{{ExtraCategoryList[$index].TypeName}}.png" alt="{{ExtraCategoryList[$index].TypeName}}" width="50px" height="50px" />
                                <input type="checkbox" checked="checked" ng-click="ExtraCategorySelected(ExtraCategoryList[$index])" />
                                {{ExtraCategoryList[$index].TypeName}}
                            </div>
                        </td>
                        <td ng-switch-when="0">
                            <div class="cat_DisplayNewLine" ng-show="ExtraCategoryList[$index+1]">
                                <img src="/Images/User/Category/{{ExtraCategoryList[$index+1].TypeName}}.png" alt="{{ExtraCategoryList[$index+1].TypeName}}" width="50px" height="50px" />
                                <input type="checkbox" checked="checked" ng-click="ExtraCategorySelected(ExtraCategoryList[$index+1])" />
                                {{ExtraCategoryList[$index+1].TypeName}}
                            </div>
                        </td>
                        <td ng-switch-when="0">
                            <div class="cat_DisplayNewLine" ng-show="ExtraCategoryList[$index+2]">
                                <img src="/Images/User/Category/{{ExtraCategoryList[$index+2].TypeName}}.png" alt="{{ExtraCategoryList[$index+2].TypeName}}" width="50px" height="50px" />
                                <input type="checkbox" checked="checked" ng-click="ExtraCategorySelected(ExtraCategoryList[$index+2])" />
                                {{ExtraCategoryList[$index+2].TypeName}}
                            </div>
                        </td>
                        <td ng-switch-when="0">
                            <div class="cat_DisplayNewLine" ng-show="ExtraCategoryList[$index+3]">
                                <img src="/Images/User/Category/{{ExtraCategoryList[$index+3].TypeName}}.png" alt="{{ExtraCategoryList[$index+3].TypeName}}" width="50px" height="50px" />
                                <input type="checkbox" checked="checked" ng-click="ExtraCategorySelected(ExtraCategoryList[$index+3])" />
                                {{ExtraCategoryList[$index+3].TypeName}}
                            </div>
                        </td>
                        <td ng-switch-when="0">
                            <div class="cat_DisplayNewLine" ng-show="ExtraCategoryList[$index+4]">
                                <img src="/Images/User/Category/{{ExtraCategoryList[$index+4].TypeName}}.png" alt="{{ExtraCategoryList[$index+4].TypeName}}" width="50px" height="50px" />
                                <input type="checkbox" checked="checked" ng-click="ExtraCategorySelected(ExtraCategoryList[$index+4])" />
                                {{ExtraCategoryList[$index+4].TypeName}}
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table>
                    <tr ng-repeat="attraction in NearLocations" ng-switch on="$index % 2">
                        <td ng-switch-when="0" valign="top">
                            <table ng-show="NearLocations[$index]" class="attractionInfo">
                                <tr>
                                    <td rowspan="7">
                                        <a herf="javascript:void(0)" style="cursor:pointer">
                                            <img src="~/Images/Custome/intersted.png" alt="Interested" width="100px" height="100px"
                                                 ng-click="Interested(NearLocations[$index])" />
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="attractionName">
                                        {{NearLocations[$index].AttractionName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="columnHeading">Address: </span>
                                        <span calss="columnValue">
                                            {{NearLocations[$index].AddressOne}}, {{NearLocations[$index].AddressTwo}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="columnHeading">Phone: </span>
                                        <span calss="columnValue">
                                            {{NearLocations[$index].GoogleInternational_phone_number}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="columnHeading">Google Rating:</span>
                                        <span calss="columnValue">
                                            {{NearLocations[$index].GoogleRating}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="columnHeading">Travel Time:{{NearLocations[$index].TravelTime}}</span> 
                                    </td>
                                    <td>
                                        <span class="columnHeading">
                                            Distance:{{NearLocations[$index].Distance}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="columnHeading">Open Time:</span> <a href="javascript:void(0)">Click</a>
                                    </td>
                                    <td>
                                        <span class="columnHeading">
                                            Price Level:
                                        </span>
                                        <span calss="columnValue">
                                            <span ng-if="NearLocations[$index].PriceLevel<2">Normal</span>
                                            <span ng-if="NearLocations[$index].PriceLevel===2">Medium</span>
                                            <span ng-if="NearLocations[$index].PriceLevel>2">Expensive</span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td ng-switch-when="0">
                            <table ng-show="NearLocations[$index+1]" class="attractionInfo">
                                <tr>
                                    <td rowspan="7">
                                        <a herf="javascript:void(0)" style="cursor:pointer">
                                            <img src="~/Images/Custome/intersted.png" alt="Interested" width="100px" height="100px"
                                                 ng-click="Interested(NearLocations[$index+1])"/>
                                        </a>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="attractionName">
                                        {{NearLocations[$index+1].AttractionName}}
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="columnHeading">Address: </span>
                                        <span calss="columnValue">
                                            {{NearLocations[$index+1].AddressOne}}, {{NearLocations[$index+1].AddressTwo}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="columnHeading">Phone:</span>
                                        <span calss="columnValue">
                                            {{NearLocations[$index+1].GoogleInternational_phone_number}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <span class="columnHeading">Google Rating:</span>
                                        <span calss="columnValue">
                                            {{NearLocations[$index+1].GoogleRating}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="columnHeading">Travel Time:{{NearLocations[$index].TravelTime}}</span>
                                    </td>
                                    <td>
                                        <span class="columnHeading">
                                            Distance:{{NearLocations[$index].Distance}}
                                        </span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="columnHeading">Open Time:</span>
                                        <a href="javascript:void(0)">Click</a>
                                    </td>
                                    <td>
                                        <span class="columnHeading">
                                            Price Level:
                                        </span>
                                        <span calss="columnValue" ng-show="NearLocations[$index+1].PriceLevel>0">

                                            <span ng-if="NearLocations[$index+1].PriceLevel<2">Normal</span>
                                            <span ng-if="NearLocations[$index+1].PriceLevel===2">Medium</span>
                                            <span ng-if="NearLocations[$index+1].PriceLevel>2">Expensive</span>
                                        </span>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>

</div>
