@{
    Layout = "~/Views/shared/_authenticatedLayout.cshtml";
}
@Scripts.Render("~/controllerManageCountry")

<div ng-controller="controllerManageCountry">
    <table class="gridTable" cellpadding="5px">
        <tbody class="gridHeader">
        <tr>
            <th>
                Actions
            </th>
            <th>
                State
            </th>
            <th>
                Country Name
            </th>
            <th>
                Short Name
            </th>
            <th>
                isDefault
            </th>
        </tr>
        </tbody>
        <tr ng-repeat="user in manageCountry">
            <td>
                <a href="/Country/AddCountry?CountryId={{user.CountryId}}" title="Update Country">
                    Edit 
                </a>
            </td>
            <td>
                <a href="/MasterState/ManageState?CountryId={{user.CountryId}}" title="State List">
                    State 
                </a>
            </td>
            <td title="'Country Name'">
                {{user.CountryName}}
            </td>
            <td title="'Country Short Name'">
                {{user.CountryShortName}}
            </td>
            <td title="'Is Default'">
                {{user.IsDefault}}
            </td>
        </tr>
    </table>

</div>
