@{
    Layout = "~/Views/shared/_authenticatedLayout.cshtml";
}
@Scripts.Render("~/controllerManageCountry")

<div ng-controller="controllerManageCountry">
    <table class="gridTable" cellpadding="5px">
        <tbody class="gridHeader">
        <tr>
            <th>
                Actions
            </th>
            <th>
                Country Info
            </th>
            <th>
                Country Name
            </th>
            <th>
                Short Name
            </th>
            <th>
                isDefault
            </th>
            <th>
                Server Name
            </th>
            <th>
                Is Windows Access
            </th>
            <th>
                User Name
            </th>
            <th>
                Password
            </th>
            <th>
                Database Name
            </th>
            <th>
                Distance Measure
            </th>
            <th>
                MetersIn
            </th>
            <th>
                State Count
            </th>
        </tr>
        </tbody>
        <tr ng-repeat="user in manageCountry">
            <td>
                <a href="~/Country/AddCountry?CountryId={{user.CountryId}}" title="Update Country">
                    Edit 
                </a>
            </td>
            <td>
                <a href="~/Country/ViewContryInfo?CountryId={{user.CountryId}}" title="View State Info">
                    State 
                </a>
            </td>
            <td title="'Country Name'">
                {{user.CountryName}}
            </td>
            <td title="'Country Short Name'">
                {{user.CountryShortName}}
            </td>
            <td title="'Is Default'">
                {{user.IsDefault}}
            </td>
            <td title="Server Name">
                {{user.ServerName}}
            </td>
            <td title="Is Windows Access">
                {{user.IsWindowsAccess}}
            </td>
            <td title="User Name">
                {{user.UserName}}
            </td>
            <td title="Password">
                {{user.Password}}
            </td>
            <td title="Database Name">
                {{user.DatabaseName}}
            </td>
            <td title="Distance Measure">
                {{user.DistanceMeasure}}
            </td>
            <td title="Meters In">
                {{user.MetersIn}}
            </td>
            <td title="State Count">
                {{user.StateCount}}
            </td>
        </tr>
    </table>

</div>
